<a href="https://colab.research.google.com/github/alvas-education-foundation/AkshathaDeshpande/blob/master/Day2_Session1_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LIST EXERCISES:**

print multiples of 3 upto 200 using a list

In [ ]:
a=[]
c=1
for i in range(0,200):
    m=3*c
    if m<200:
        a.append(m)
        c=c+1
print(a,end="")

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

In [ ]:
#The above program can also be written using numpy
import numpy as np
x = np.arange(1,200)
n= x[(x % 3 == 0)]
print(n[:200])

[  3   6   9  12  15  18  21  24  27  30  33  36  39  42  45  48  51  54
  57  60  63  66  69  72  75  78  81  84  87  90  93  96  99 102 105 108
 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162
 165 168 171 174 177 180 183 186 189 192 195 198]

print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [ ]:
a=[]
b=[]
for i in range(1000,2000):
    if i%5==0:
        a.append(i)
    if i%7==0:
        b.append(i)
print("The numbers which are divisible by 5 are:",a,end="")
print("\n")
print("The numbers which are divisible by 7 are:",b,end="")

The numbers which are divisible by 5 are: [1000, 1005, 1010, 1015, 1020, 1025, 1030, 1035, 1040, 1045, 1050, 1055, 1060, 1065, 1070, 1075, 1080, 1085, 1090, 1095, 1100, 1105, 1110, 1115, 1120, 1125, 1130, 1135, 1140, 1145, 1150, 1155, 1160, 1165, 1170, 1175, 1180, 1185, 1190, 1195, 1200, 1205, 1210, 1215, 1220, 1225, 1230, 1235, 1240, 1245, 1250, 1255, 1260, 1265, 1270, 1275, 1280, 1285, 1290, 1295, 1300, 1305, 1310, 1315, 1320, 1325, 1330, 1335, 1340, 1345, 1350, 1355, 1360, 1365, 1370, 1375, 1380, 1385, 1390, 1395, 1400, 1405, 1410, 1415, 1420, 1425, 1430, 1435, 1440, 1445, 1450, 1455, 1460, 1465, 1470, 1475, 1480, 1485, 1490, 1495, 1500, 1505, 1510, 1515, 1520, 1525, 1530, 1535, 1540, 1545, 1550, 1555, 1560, 1565, 1570, 1575, 1580, 1585, 1590, 1595, 1600, 1605, 1610, 1615, 1620, 1625, 1630, 1635, 1640, 1645, 1650, 1655, 1660, 1665, 1670, 1675, 1680, 1685, 1690, 1695, 1700, 1705, 1710, 1715, 1720, 1725, 1730, 1735, 1740, 1745, 1750, 1755, 1760, 1765, 1770, 1775, 1780, 1785, 1790, 1795, 1800, 1805, 1810, 1815, 1820, 1825, 1830, 1835, 1840, 1845, 1850, 1855, 1860, 1865, 1870, 1875, 1880, 1885, 1890, 1895, 1900, 1905, 1910, 1915, 1920, 1925, 1930, 1935, 1940, 1945, 1950, 1955, 1960, 1965, 1970, 1975, 1980, 1985, 1990, 1995]

The numbers which are divisible by 7 are: [1001, 1008, 1015, 1022, 1029, 1036, 1043, 1050, 1057, 1064, 1071, 1078, 1085, 1092, 1099, 1106, 1113, 1120, 1127, 1134, 1141, 1148, 1155, 1162, 1169, 1176, 1183, 1190, 1197, 1204, 1211, 1218, 1225, 1232, 1239, 1246, 1253, 1260, 1267, 1274, 1281, 1288, 1295, 1302, 1309, 1316, 1323, 1330, 1337, 1344, 1351, 1358, 1365, 1372, 1379, 1386, 1393, 1400, 1407, 1414, 1421, 1428, 1435, 1442, 1449, 1456, 1463, 1470, 1477, 1484, 1491, 1498, 1505, 1512, 1519, 1526, 1533, 1540, 1547, 1554, 1561, 1568, 1575, 1582, 1589, 1596, 1603, 1610, 1617, 1624, 1631, 1638, 1645, 1652, 1659, 1666, 1673, 1680, 1687, 1694, 1701, 1708, 1715, 1722, 1729, 1736, 1743, 1750, 1757, 1764, 1771, 1778, 1785, 1792, 1799, 1806, 1813, 1820, 1827, 1834, 1841, 1848, 1855, 1862, 1869, 1876, 1883, 1890, 1897, 1904, 1911, 1918, 1925, 1932, 1939, 1946, 1953, 1960, 1967, 1974, 1981, 1988, 1995]

Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [69]:
my_str = input("Enter a string: ")

# breakdown the string into a list of words
words = my_str.split()

# sort the list
words.sort()

# display the sorted words

print("The sorted words are:")
for word in words:
   print(word)

#reverse the words in list
words.reverse()

#display the reversed words
print("The reverse words are:")
for wor in words:
   print(wor)

Enter a string: Akshu Ani Swetha Mahesh
The sorted words are:
Akshu
Ani
Mahesh
Swetha
The reverse words are:
Swetha
Mahesh
Ani
Akshu

Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [61]:
a=[]
b=[]
c=[]
import math
for i in range(500,1000):
    sr = math.sqrt(i)
    if sr-math.floor(sr)==0:
        a.append(i)
        b.append(sr)
    if i%5==0:
        c.append(i)
print("Perfect squares in the given range are:",a,end=" ")
print("\n")
print("Squares of above numbers are:",b,end=" ")
print("\n")
print("Numbers which are divisible by 5 are:",c,end=" ")

Perfect squares in the given range are: [529, 576, 625, 676, 729, 784, 841, 900, 961]

Squares of above numbers are: [23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0]

Numbers which are divisible by 5 are: [500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560, 565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625, 630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685, 690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755, 760, 765, 770, 775, 780, 785, 790, 795, 800, 805, 810, 815, 820, 825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885, 890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995]

Calculate the Average of  the numbers in a List by getting the elements of list from keyboard

In [63]:
n=int(input("Enter the number of elements to be inserted: "))
a=[]
for i in range(0,n):
    p=int(input("Enter element: "))
    a.append(p)
avg=sum(a)/n
print("Average of elements in the list",round(avg,3))

Enter the number of elements to be inserted: 4
Enter element: 10
Enter element: 20
Enter element: 5
Enter element: 5
Average of elements in the list 10.0

Print lists of odd,even and multiples of 5 numbers from 1 to 1000 using list comprehension

In [36]:
list1 = [9,2,4,5,8,7,21,67,96] 
even_nos = [num for num in list1 if num % 2 == 0] 
print("Even numbers in the list: ", even_nos)
odd_nos = [num for num in list1 if num % 2 != 0] 
print("Odd numbers in the list: ", odd_nos)

Even numbers in the list:  [2, 4, 8, 96]
Odd numbers in the list:  [9, 5, 7, 21, 67]

**TUPLE EXERCISES**

Python Program to Create a List of Tuples with the First Element as the Number and Second Element as the Square of the Number

In [68]:
t = [ ]
n=int(input("enter the number of tuples:"))
for i in range(0,n):
    e=int(input("Enter the number:"))
    t.append((e, e*e))
print(t)

enter the number of tuples:4
Enter the number:2
Enter the number:4
Enter the number:6
Enter the number:8
[(2, 4), (4, 16), (6, 36), (8, 64)]

Write python program to have a list of words  to sort them from  shortest to longest using list of tuples

In [1]:
def Sort_Tuple(tup):  
    tup.sort(key = lambda x: x[1])  
    return tup  
tup = [('rishav', 10), ('akash', 5), ('ram', 20), ('gaurav', 15)]  
print(Sort_Tuple(tup))

[('akash', 5), ('rishav', 10), ('gaurav', 15), ('ram', 20)]

Write python program to get a list of tuples of Rollno,Name for 5 students through keyboard and sort them Rollno wise ascending order

In [29]:
def Sort_Tuple(tup):  
    lst = len(tup)  
    for i in range(0, lst):  
        for j in range(0, lst-i-1):  
            if (tup[j][1] > tup[j + 1][1]):  
                temp = tup[j]  
                tup[j]= tup[j + 1]  
                tup[j + 1]= temp 
    return tup
tup =[]
num = int(input("Number of students:"))
for i in range(0,num):
     name = input(" Name of student: ")
     rollnum = input("Roll num of the student:")
     tup.append((name,rollnum))
print(Sort_Tuple(tup))

Number of students:4
 Name of student: Hermoine
Roll num of the student:7
 Name of student: Harry
Roll num of the student:1
 Name of student: Ron
Roll num of the student:5
 Name of student: dark lord
Roll num of the student:0
[('dark lord', '0'), ('Harry', '1'), ('Ron ', '5'), ('Hermoine', '7')]

Write python program to get a list of tuples of Rollno,Name for 5 students through keyboard and sort them Rollno wise descending order

In [30]:
def Sort_Tuple(tup):  
    lst = len(tup)  
    for i in range(0, lst):  
        for j in range(0, lst-i-1):  
            if (tup[j][1]<tup[j + 1][1]):  
                temp = tup[j]  
                tup[j]= tup[j + 1]  
                tup[j + 1]= temp 
    return tup
tup =[]
num = int(input("Number of students:"))
for i in range(0,num):
     name = input(" Name of student: ")
     rollnum = input("Roll num of the student:")
     tup.append((name,rollnum))
print(Sort_Tuple(tup))

Number of students:4
 Name of student: bts
Roll num of the student:5
 Name of student: fifa
Roll num of the student:3
 Name of student: liverpool
Roll num of the student:7
 Name of student: nani
Roll num of the student:2
[('liverpool', '7'), ('bts', '5'), ('fifa', '3'), ('nani', '2')]

Write python program to get a list of tuples of Rollno,Name for 5 students through keyboard and sort them by Name wise ascending order

In [33]:
def Sort_Tuple(tup):  
    lst = len(tup)  
    for i in range(0, lst):  
        for j in range(0, lst-i-1):  
            if (tup[j][0] > tup[j + 1][0]):  
                temp = tup[j]  
                tup[j]= tup[j + 1]  
                tup[j + 1]= temp 
    return tup
tup =[]
num = int(input("Number of students:"))
for i in range(0,num):
     name = input(" Name of student: ")
     rollnum = input("Roll num of the student:")
     tup.append((name,rollnum))
print(Sort_Tuple(tup))

Number of students:4
 Name of student: jinny
Roll num of the student:4
 Name of student: draco
Roll num of the student:2
 Name of student: madeye
Roll num of the student:9
 Name of student: dobby
Roll num of the student:1
[('dobby', '1'), ('draco', '2'), ('jinny', '4'), ('madeye', '9')]

Write python program to get a list of tuples of Rollno,Name for 5 students through keyboard and sort them by Name wise descending order

In [34]:
def Sort_Tuple(tup):  
    lst = len(tup)  
    for i in range(0, lst):  
        for j in range(0, lst-i-1):  
            if (tup[j][0] < tup[j + 1][0]):  
                temp = tup[j]  
                tup[j]= tup[j + 1]  
                tup[j + 1]= temp 
    return tup
tup =[]
num = int(input("Number of students:"))
for i in range(0,num):
     name = input(" Name of student: ")
     rollnum = input("Roll num of the student:")
     tup.append((name,rollnum))
print(Sort_Tuple(tup))

Number of students:4
 Name of student: cedric
Roll num of the student:3
 Name of student: dumbledore
Roll num of the student:9
 Name of student: zebra
Roll num of the student:3
 Name of student: sirius
Roll num of the student:2
[('zebra', '3'), ('sirius', '2'), ('dumbledore', '9'), ('cedric', '3')]