<a href="https://colab.research.google.com/github/alvas-education-foundation/AkshathaDeshpande/blob/master/Day2_Session2_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DICTIONARY EXAMPLES:**

Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [6]:
import operator
n=int(input("Enter no of students: "))
d={}
for i in range(0,n):
  name= input("Enter name: ")
  mark=int(input("Enter mark: "))
  d[name]=mark
sorted_a= sorted(d.items(),key=operator.itemgetter(1),reverse=True)
print("Marks in descending order ",sorted_a)

Enter no of students: 2
Enter name: Raja
Enter mark: 39
Enter name: Rani
Enter mark: 50
Marks in descending order  [('Rani', 50), ('Raja', 39)]

Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [10]:
import operator
n=int(input("Enter no of employees: "))
d={}
for i in range(0,n):
  name= input("Enter name: ")
  sal=float(input("Enter salary: "))
  d[name]=sal
sorted_a= sorted(d.items(),key=operator.itemgetter(0))
print("Marks in descending order ",sorted_a)

Enter no of employees: 2
Enter name: Meera
Enter salary: 60000
Enter name: Vidya
Enter salary: 78000
Marks in descending order  [('Meera', 60000.0), ('Vidya', 78000.0)]

Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary ascending order and sum, max, min and average of the salaries

In [13]:
import operator
n=int(input("Enter no of employees: "))
d={}
for i in range(0,n):
  name= input("Enter name: ")
  sal=float(input("Enter salary: "))
  d[name]=sal
sorted_a= sorted(d.items(),key=operator.itemgetter(1))
print("Sal in Ascending order:",sorted_a)
a = d.values()
print("sum: ",sum(a))
print("max: ",max(a))
print("min: ",min(a))
print("avg: ",(sum(a)/n))

Enter no of employees: 2
Enter name: Akshu
Enter salary: 50000
Enter name: Radha
Enter salary: 40000
Sal in Ascending order: [('Radha', 40000.0), ('Akshu', 50000.0)]
sum:  90000.0
max:  50000.0
min:  40000.0
avg:  45000.0

Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [18]:
import operator
n=int(input("Enter no of employees:"))
d={}
for i in range(1,n+1):
  name= input("Enter name:")
  sal=int(input("Enter salary :"))
  d[name]=sal
for key,value in d.items():
    if value>=2000 and value<=4000:
         print("In the given range:",(d[key],key))

Enter no of employees:3
Enter name:akshu
Enter salary :3400
Enter name:jiya
Enter salary :2678
Enter name:eera
Enter salary :9090
In the given range: (3400, 'akshu')
In the given range: (2678, 'jiya')

Python program to convert a 3 digit number into words

In [21]:
def convert_to_words(num):  
    l = len(num);    
    if l == 0: 
        print("empty string"); 
        return; 
  
    if l > 4: 
        print("Length more than 4 is not supported"); 
        return;   
    single_digits = ["zero", "one", "two", "three",  
                     "four", "five", "six", "seven",  
                     "eight", "nine"];  
    two_digits = ["", "ten", "eleven", "twelve",  
                  "thirteen", "fourteen", "fifteen",  
                  "sixteen", "seventeen", "eighteen", 
                  "nineteen"];  
    tens_multiple = ["", "", "twenty", "thirty", "forty", 
                     "fifty", "sixty", "seventy", "eighty",  
                     "ninety"]; 
    tens_power = ["hundred", "thousand"];   
    print(num, ":", end = " ");   
    if l == 1:  
        print(single_digits[ord(num[0]) - '0']); 
        return;  
    x = 0; 
    while x < len(num):    
        if l >= 3: 
            if ord(num[x]) - 48 != 0: 
                print(single_digits[ord(num[x]) - 48], end = " "); 
                print(tens_power[l - 3], end = " ");  
                  
            l -= 1; 
        else:   
            if ord(num[x]) - 48 == 1:  
                sum = (ord(num[x]) - 48 + 
                       ord(num[x]) - 48); 
                print(two_digits[sum]); 
                return;
            elif ord(num[x]) - 48 == 2 and ord(num[x + 1]) - 48 == 0: 
                    print("twenty"); 
                    return;  
            else:
                i = ord(num[x]) - 48; 
                if i > 0: 
                    print(tens_multiple[i], end = " "); 
                else: 
                    print("", end = ""); 
                x += 1; 
                if ord(num[x]) - 48 != 0: 
                    print(single_digits[ord(num[x]) - 48]); 
        x += 1;  
convert_to_words("909"); 
convert_to_words("789"); 
convert_to_words("654");

909 : nine hundred nine
789 : seven hundred eighty nine
654 : six hundred fifty four

**FILE EXERCISE:**


Python Program to count the total number of charaters (except blank space) in a text file.

In [27]:
file_txt = open("/content/sample.txt")		
text = file_txt.read()			
ch = 0	
for i in text:				
	if(i != " " and i != "\n" ):
		 ch+= 1
print ("Total num of characters: ",ch);

Total num of characters:  229

Python Program to print all the numbers present in a text file with its total number of occurrence.

In [28]:
file_txt = open("/content/sample.txt")		
text = file_txt.read()	
w = []	
d = dict() 
for line in text: 
    line = line.strip() 	
    if(line.isdigit()):
           w.append(line)
for j in w:
      if j in d:
        d[j] = d[j] + 1
      else: 
            d[j] = 1 
for key in list(d.keys()): 
    print(key, ":", d[key])

4 : 1
5 : 1
6 : 1


Python Program to append the contents of one file to another file

In [30]:
fin = open("/content/sample.txt", "r")
data2 = fin.read()
fin.close()
fout = open("/content/empty.txt ", "a")
fout.write(data2)
fout.close()

Python Program to count the number of blank spaces in a text file.

In [33]:
k = 0 
with open("/content/empty.txt ", 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            for letter in i:
                if(letter.isspace):
                    k=k+1
print("Occurrences of blank spaces:")
print(k)

Occurrences of blank spaces:
229

Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content into another file and read it

In [36]:
with open("/content/empty.txt ", 'r') as f:
  with open("/content/sample.txt ", "w") as f1:
    for line in f:
        l=line.title()
        f1.write(l)
file2=open("/content/sample.txt ",'r')
line=file2.readline()
while(line!=""):
    print(line)
    line=file2.readline()
file2.close()

I Would Love To Try Or Hear The Sample Audio Your App Can Produce. I Do Not Want To Purchase, Because I'Ve Purchased So Many Apps That Say They Do Something And Do Not Deliver.



Can You Please Add Audio Samples With Text You'Ve Converted? I'D Love To See The End Results.4 5 6



Thanks!