<a href="https://colab.research.google.com/github/alvas-education-foundation/AkshathaDeshpande/blob/master/Day_1_Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to print the triangle 
i/p  4

In [ ]:
#1
n=int(input("Enter the Number "));
for i in range(n+1):
    for j in range(i):
        print (j+i ,end=" ")
    print('')

Enter the Number 4

1
2 3
3 4 5
4 5 6 7

Enter number 4 as input and print stars

In [ ]:
#2
def pypart(n):  
    for i in range(0, n): 
        for j in range(0, i+1): 
            print("* ",end="") 
        print("\r") 
n = 4
pypart(n)

*
* *
* * *
* * * *

Enter number 5 and print traingle

In [ ]:
#3
n=int(input("Enter the Number "));
for i in range(n+1):
    for j in range(i,0,-1 ):
        print (n-j+1 ,end=" ")
    print('')

Enter the Number 5

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

Enter number 5 and print triangle

In [ ]:
#4
n=int(input("Enter the Number:"));
for i in range(0,n+1):
    for j in range(n-i, 0, -1):
        print (j , end=" ")
    print(' ')

Enter the Number:5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Enter number 4

In [77]:
#5
n=int(input("Enter the Number:"));
for i in range(0,n+1,1):
    print("")
    for j in range(i+1,n+1,1):
        print(j,end=" ")
    
for i in range(1,n):
    for j in range(i+1,0,-1):
        print(n-j+1,end=" ")
    print('')

Enter the Number:4

1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

Find the length of a string without using len functions

In [ ]:
#6
str = input("Enter a string: ")
count = 0
for s in str:
      count = count+1
print("Length of the input string is:", count)

Enter a string: Akshatha
Length of the input string is: 8

Find the no of words and characters in a string

In [ ]:
#7
string=input("Enter string:")
word=1
for i in string:
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)

Enter string:It is what it is though we don't know what it is
Number of words in the string:
12

Find the no of occurrences of a word in a string

In [ ]:
#8
def countOccurences(str, word): 
    a = str.split(" ") 
    count = 0
    for i in range(0, len(a)): 
        if (word == a[i]): 
           count = count + 1
    return count        
str =input("Enter the sentence:")
word =input("Enter the word:")
print("The word is repeated:",countOccurences(str, word),"times")

Enter the sentence:It is what it is even though we don't know what it actually is
Enter the word:is
The word is repeated: 3 times